body {
    overflow: hidden;
}

.button-grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 84px);
}

.button-grid-container {
    backdrop-filter: blur(6px);
    border-radius: 20px;
    padding: 0 30px 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: 90vh;
    overflow: hidden;
    max-width: 100%;
    width: min(100%, 700px);
    box-sizing: border-box;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 60px;
    gap: 10px;
    max-height: 480px;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    padding-right: 10px;
}

.grid-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.grid-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 0;
}

.grid-sub {
    margin-bottom: 10px;
}

.grid-sub h2 {
    font-size: 13px;
    text-align: center;
    color: rgb(215, 69, 56);
}

.search-bar input:focus,
.search-bar button:hover {
    background-color: #2A2A2AFF;
}

.grid-entry-wrapper {
    text-decoration: none;
    cursor: pointer;
}

.grid-entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #252525;
    border: none;
    color: #fff;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    text-align: center;

    font-family: "JetBrains Mono", monospace;
    font-size: 0.75rem;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.grid-entry-wrapper:hover > .grid-entry {
    background-color: #2A2A2AFF;
}

.grid-entry > span {
    padding-left: 8px;
    padding-right: 8px;
    text-decoration: none;

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    word-wrap: anywhere;

    box-sizing: border-box;
}

.grid-entry-sub-button-container {
    margin-bottom: 8px;
}

.grid-entry-sub-button-container > a {
    margin-top: 5px;
    width: 90px;
    display: flex;
    justify-content: center;
    padding: 0;
    text-decoration: none;
}

.grid-sub-button {
    background-color: #2f2f2f;
    border-radius: 8px;
    padding: 6px 12px;
    margin-bottom: 2px;
    width: 100%;
    text-align: center;
    color: #e0e0e0;

}

.grid-sub-button:hover {
    background-color: #333333;
}

.button-grid::-webkit-scrollbar {
    width: 8px;
}

.button-grid::-webkit-scrollbar-track {
    background: #252525;
    border-radius: 4px;
}

.button-grid::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #2193b0, #ba6ded);
    border-radius: 4px;
}
