body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #1c1c1c, #1a1a1a);
    color: linear-gradient(to right, #2193b0, #ba6ded);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;
}

.library-container {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

h1 {
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 0;
    background: -webkit-linear-gradient(left, #2193b0, #ba6ded);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    background: -webkit-linear-gradient(right, #ffffff, #e6e6e6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.client-button {
    display: block;
    background-color: #404040;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.client-button:hover {
    background-color: #555;
}

.client-button:active {
    background-color: #777;
}

.button-text {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #ccc;
    margin-top: 5px;
}

.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #404040;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.back-button:hover {
    background-color: #555;
}

.back-button:active {
    background-color: #777;
}