body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #1c1c1c, #1a1a1a);
    color: linear-gradient(to right, #2193b0, #ba6ded);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    overflow: hidden;
}

.library-container {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 90%;
    max-width: 800px;
}

h1 {
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 40px; /* Increased space below the title */
    background: -webkit-linear-gradient(left, #2193b0, #ba6ded);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ensure there are 2 equal columns */
    gap: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;
}

.changelog-grid {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.changelog-entry {
    background-color: #404040;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.changelog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.changelog-details {
    font-size: 0.9em;
    color: #b0b0b0;
    margin-top: 5px;
    margin-left: 5px;
    text-align: left;
}

.client-button {
    display: block;
    background-color: #404040;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-align: center;
}

.client-button:hover {
    background-color: #555;
}

.client-button:active {
    background-color: #777;
}

.button-text {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: #ccc;
    margin-top: 5px;
}

.date-stamp {
    color: #b0b0b0;
    font-size: 0.8em;
}

.notice {
    color: #606060;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
}

.notice a {
    color: #2193b0;
    text-decoration: none;
}

.notice a:hover {
    color: #ba6ded;
}

.notice a:active {
    color: #a3a3ff;
}
